#.editorconfig

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{py,kv}]
indent-style = space
indent_size = 4
max_line_length = 80

[*.md]
indent-style = space
indent_size = 4

[*.{js,css,scss,html,json,jsx}]
indent-style = space
indent_size = 2

[**.min.js]
indent_style = ignore
insert_final_newline = ignore
