appdirs==1.4.3
arandr==0.1.9
asn1crypto==0.22.0
astroid==1.5.2
attrs==17.2.0
Automat==0.6.0
backports.functools-lru-cache==1.3
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.2
cheroot==5.5.0
CherryPy==10.2.2
click==6.7
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
cryptography==1.9
dblatex==0.3.10
docopt==0.6.2
enum-compat==0.0.2
enum34==1.1.6
eventregistry==6.3.0
gmpy==1.17
gyp==0.1
httpie==0.9.9
i3ipc==1.3.0
idna==2.5
imaplib2==2.55
incremental==17.5.0
ipaddress==1.0.18
isort==4.2.15
iwlib==1.5
keyring==10.3.3
keyrings.alt==2.2
lazy-object-proxy==1.2.2
mccabe==0.6.1
numpy==1.13.0
obfsproxy==0.2.13
packaging==16.8
PAM==0.4.2
pip-review==0.5.3
portend==1.8
powerline-status==2.6
powerline-status-i3==1.0.2
pyalsaaudio==0.8.4
pyaml==16.12.2
pyasn1==0.2.3
pyasn1-modules==0.0.9
-e git+https://github.com/Eichhoernchen/pybonjour.git@c63b48c1f0ebf0fb20d412a853ecb6b09e29439b#egg=pybonjour
pycodestyle==2.3.1
pycparser==2.17
pycrypto==2.6.1
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.22.0
pygpgme==0.3
pylint==1.7.1
pylint-django==0.7.2
pylint-plugin-utils==0.2.6
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyperclip==1.5.27
pyptlib==0.0.6
pyserial==3.3
PySocks==1.6.7
python-apt==1.4.0b3
python-mpd==0.3.0
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
ranger==1.8.1
requests==2.13.0
SecretStorage==2.3.1
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.10.0
tempora==1.7
Twisted==17.1.0
urllib3==1.21.1
wrapt==1.10.10
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==4.4.1
